*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero-section{
    background-image: url(imagess/hero-section-image.jpg);
    height: 600px;
    width: 1528px;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-bar{
   width: 100%;
   height: 37px;
   background-color: black;
}
.search-bar input{
    width: 180px;
    height: 22px;
    border: 1px solid #FFFFFF4D;
    background: #FFFFFF1A;
    margin-top: 7px;
    margin-left: 190px;
}
.search-bar input::placeholder{
    color: white;
    font-size: 10px;
    padding-left: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-bar img{
    position: absolute;
    margin-left: 200px;
    margin-top: 12px;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
   justify-content: space-around;
}
.navbar p{
    list-style: none;
    color: #FFFFFF;
}
.FURNITURE{
    color: #FFFFFF;
    font-size: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.side{
     font-size: 8px;
     display: flex;
    gap: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-content{
    margin-top: 120px;
    margin-left: 180px;
    width: 500px;
    height: 200px;
    color: white;
}
.best-collection {
    font-size: 10px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div1{
    display: flex;
    font-size: 50px;
    font-weight: bold;
    gap: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.designer{
    font-weight: lighter;
}
.div2{
    font-size: 50px;
  display: flex;
    font-weight: bold;
    gap: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.living{
    font-weight: lighter;
}
.description{
    font-size: 12px;
    margin-top: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.view-all{
    margin-top: 30px;
    width: 120px;
    height: 30px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #FFFFFF;
    color: white;
    background: transparent;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-1{
    position: absolute;
    top: 300px;
    left: 560px;
}