*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero-section{
    background-image: url(imagess/hero-section-image.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-bar{
   height: 37px;
   background-color: black;
}
.search-bar input{
    width: 180px;
    height: 22px;
    border: 1px solid #FFFFFF4D;
    background: #FFFFFF1A;
    margin-top: 7px;
    margin-left: 190px;
}
.search-bar input::placeholder{
    color: white;
    font-size: 10px;
    padding-left: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-bar img{
    position: absolute;
    margin-left: 200px;
    margin-top: 12px;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
   justify-content: space-around;
}
.navbar p{
    list-style: none;
    color: #FFFFFF;
}
.FURNITURE{
    color: #FFFFFF;
    font-size: 30px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.side{
     font-size: 8px;
     display: flex;
    gap: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-content{
    margin-top: 120px;
    margin-left: 180px;
    width: 500px;
    height: 200px;
    color: white;
}
.best-collection {
    font-size: 10px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div1{
    display: flex;
    font-size: 50px;
    font-weight: bold;
    gap: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.designer{
    font-weight: lighter;
}
.div2{
    font-size: 50px;
  display: flex;
    font-weight: bold;
    gap: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.living{
    font-weight: lighter;
}
.description{
    font-size: 12px;
    margin-top: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.view-all{
    margin-top: 30px;
    width: 120px;
    height: 30px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #FFFFFF;
    color: white;
    background: transparent;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.discover{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-left: 224px;
}
.image-1{
    position: absolute;
    top: 300px;
    left: 560px;
}
.image-2{
    margin-left: 880px;
    }
.boxes-container{
    margin-top: 10px;
}
.boxes-container div{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 5px;
}
.discover-section{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.discover-header{
    display: flex;
}
.line{
    margin-left: 450px;
    margin-top: 30px;
    font-size: 13px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.premiun-quality{
    background-color: #F5F5F5;
    width: 765px;
    padding-left: 30px;
    height: 420px;
}
.quality-content{
   /* width: 400px; */
    height: 200px;
padding: 20px;
}
.quality{
    font-size: 29px;
    font-weight: 500;
    /* width: 400px; */
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.quality-description{
    font-size: 13px;
    line-height: 20px;
    word-spacing: 5px;
    margin-top: 20px;
    width: 450px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #666565;
 } 
.view-all-categories{
    margin-top: 20px;
    font-size: 10px;
    font-weight: 500;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.parent-2{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.parent-3{
    display: flex;
    gap: 15px;
    align-items: center;
    background: #796F51;
    /* width: 1512px; */
    height: 50px;
    font-size: 11px;
    word-spacing: 3px;
    color: white;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#same{
    margin-left: 10px;
}
.parent-4{
    background: #F6F6F3;
     margin-top: 50px;
        /* width: 1512px; */
    height: 500px;
}
.inside-parent-4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px;
    
}
.f-div{
    display: flex;
    border: 1px solid #f2f1f1;
}
.s-div{
    display: flex;
    border: 1px solid #f2f1f1;
}
.t-div{
    display: flex;
    border: 1px solid #f2f1f1;
}
.ff-div{
    width: 300px;
    height: 300px;
    background-size: cover;

}
.ss-div{
    width: 300px;
    height: 300px;
}
.tt-div{
    width: 300px;
    height: 300px;
    background-size: cover;
}
.heading{
    font-size: 30px;
    font-weight: 500;
    width: 300px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.para{
    padding-top: 7px;
    padding-left: 8px;
    font-weight: 500;
    font-size: 15px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lorem{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 8px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #666565;

}
.explore-section{
    /* width: 1512px; */
    margin-top: 30px;
}
.explore-images{
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 300px;
    margin-left: 25px;
    /* margin: 30px 100px 0px 105px; */
}
.more-to-explore{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 155px;
}
.sofa-section{
 background-image: url(imagess/07b06e0f713eedb7699faef47f002056582b8914.jpg);
    height: 600px;
    /* width: 1512px; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 350px;
}
.inner-div{
    display: flex;
    background: #FFFFFFD1;
    box-shadow: 0px 0px 25px 0px #00000026;
    width: 800px;
    height: 160px;
    padding-top: 10px;
    justify-content: center;
}
.line-through{
    text-decoration: line-through;
    color: #666565;
     font-size: 10px;
     margin-top: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.not-line-through{
    font-size: 10px;
    margin-top: 20px;
     color: #000000;
     font-weight: 400;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex1{
    width: 250px;
    height: 80px;
    gap: 15px;
    display: flex;
    margin-top: 20px;
}
.bighead{
    font-size: 12px;
    font-weight: 500;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 35px;
}
.latest-news-article{
    /* width: 1512px; */
    height: auto;
    margin-top: 40px;
}
.heading2{
    font-size: 30px;
    font-weight: 500;
    color: black;
text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 3px;
}
.flex-2{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.about{
    width: 350px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
      word-spacing: 5px;
      margin-bottom: 20px;

}
.radius{
    border-radius: 15px;
}
.read-more{
    font-size: 13px;
    font-weight: 500;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
    margin-top: 6px;
}
.read-date{
    font-size: 10px;
    color: #666565;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-left: 15px;
      margin-top: 9px;
}
.info{
    display: flex;
}
footer{
    background: #F9F9FB;
    height: 350px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 30px;
      display: grid;
      justify-content: center;
      align-items: center;
}
.inside-footer{
    display: flex;
    gap: 120px;
}
.inside-footer h1{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}
.inside-footer p{
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}
.inside-footer form{
    background-color: #FFFFFF;
    width: 315px;
    height: 50px;
    display: flex;
    align-items: center;
}
form input{
    border: none;
    margin-left: 20px;
    width: 180px;
}
form img{
    padding-left: 10px;
}
form input::placeholder{
    font-size: 13px;
    color: #afaeae;
}
form button{
    border: none;
    background: #35736E;
    color: white;
    cursor: pointer;
    width: 80px;
    height: 30px;
}
.expo{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
}
ul li{
    color: #444343;
    font-size: 15px;
    list-style: none;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inside-footer-2{
    display: flex;
    gap: 80px;
}
.footer-bottom{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}